* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Dm Sans', sans-serif;
}

.all-Pages {
    width: calc(98vw - 41px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .all-Pages-content {
        width: 1440px;
    }
    margin: 0px 0px 0px 20px;
}

body {
    background-color: rgb(252, 245, 235);
}


.navbar {
    position: sticky;
    top: 0px;
    z-index: 1;
    overflow: hidden;
    width: 1440px;
    /* background-attachment: fixed; */
    /* border-bottom: #2c20d1 1px solid; */

    header {
        background-color: rgb(252, 245, 235);
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
    }


    .nav-links {
        list-style-type: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        /* font-weight: 550; */
    }

    .left-links #logo {
        width: 35px;
    }

    .center-links {
        list-style-type: none;
        display: flex;
        align-items: center;
        gap: 60px;
        font-size: 20px;

        a {
            text-decoration: none;
            color: black;
            padding: 10px;
            border-radius: 10px;
        }
    }

    .right-links {
        background-color: white;
        border: 1px solid black;
        padding: 14px 24px 14px 24px;
        border-radius: 9999px;
        text-decoration: none;
        color: black;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        /* transition: all 0.5s ease-in-out; */
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 20px;
        transition: all 0.5s ease-in-out;

        img {
            width: 25px;
        }
    }

    .active:hover {
        color: rgb(53, 2, 156);
        background-color: rgba(128, 128, 128, 0.100);
        transition: all 0.2s ease-out;

    }

    .right-links:hover {
        background-color: rgb(87, 196, 87);
        color: white;
        transform: scale(1.1);
    }
}

.consent_preference {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px;
    z-index: 9999;

    img {
        width: 40px;
        background-color: rgb(0, 86, 167);
        border-radius: 50%;
        padding: 5px;
    }
}

.consent_preference:hover {
    cursor: pointer;
}

.Page1 {
    padding: 10px 60px 10px 60px;

    .content1 {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 10px;
        font-size: 60px;
        flex-wrap: wrap;
        font-weight: 550;
    }

    .content2 {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 10px;
        font-size: 60px;
        flex-wrap: wrap;
    }

    .content3 {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 10px;

        button {

            border-radius: 9999px;
            padding: 8px 16px 8px 16px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 10px;
            font-size: 16px;
        }

        .whatsapp {
            color: rgb(42, 203, 146);
            border: 1px solid rgb(42, 203, 146);
            background-color: white;
        }

        .meta {
            color: rgb(85, 171, 253);
            border: 1px solid rgb(85, 171, 253);
            background-color: white;
        }
    }

    .content4 {
        margin: 50px 0px 0px 0px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        img {
            border: 5px solid white;
            border-radius: 10px;
            mask-image: linear-gradient(to top, #fff0 0%, rgb(0 0 0) 50% 50%);
            max-width: 75%;
        }
    }
}

.Page2,
.Page6 {
    display: flex;
    flex-direction: column;

    .content1 {
        text-align: center;
        font-size: 25px;
        color: #434343;
        margin-bottom: 50px;
    }

    .content2 {
        display: flex;
        align-items: center;
        /* justify-content: space-between; */
        gap: 200px;
        margin: 0px 0px 0px 50px;

        .left_box {
            .box-content-1 {
                font-size: 49px;
                color: #1ead55;
                margin-bottom: 50px;
            }

            .box-content-2 {
                width: max-content;
                font-size: 25px;
                margin-bottom: 20px;
            }
        }

        .right_box {
            .box-content-1 {
                img {
                    mask-image: linear-gradient(to left, #fff0 0%, rgb(0 0 0) 100% 100%);
                    width: 700px;
                    height: 600px;

                }
            }
        }

    }

}

.Page3,
.Page7 {
    display: flex;
    flex-direction: row;

    .box-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 30px;
        padding: 0px 20px 100px 20px;
        align-items: center;
        justify-content: center;
    }

    .box {
        background-color: rgb(232, 245, 233);
        padding: 30px;
        box-shadow: rgb(16, 102, 52) 3px 3px 5px 0px;
        border-radius: 20px;
        width: 430px;
        gap: 40px;
        row-gap: 100px;
        line-height: 22.4px;

        .box-content-1 {
            margin-bottom: 30px;
        }

        .box-content-2 {
            font-size: 25px;
            color: #106634;
            margin-bottom: 20px;
        }

        .box-content-3 {
            line-height: 22.4px;
            font-size: 16px;
        }
    }
}

.Page4 {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    gap: 20px;
    margin: 0px 0px 0px 50px;

    .right_box {
        .box-content-1 {
            font-size: 49px;
            color: rgb(100, 66, 33);
            margin-bottom: 50px;
        }

        .box-content-2 {
            font-size: 25px;
            margin-bottom: 20px;
        }
    }

    .left_box {
        .box-content-1 {
            img {
                mask-image: linear-gradient(to right, #fff0 0%, rgb(0 0 0) 100% 100%);
                width: 700px;
                height: 600px;

            }
        }
    }
}

.Page5 {
    display: flex;
    flex-direction: row;
    margin: 0px 0px 0px 30px;
    .box-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 30px;
        padding: 0px 20px 100px 20px;
    }

    .box {
        background-color: rgb(255, 236, 200);
        padding: 30px;
        box-shadow: rgb(217, 184, 133) 3px 3px 5px 0px;
        border-radius: 20px;
        width: 430px;
        gap: 40px;
        row-gap: 100px;
        line-height: 22.4px;
        border: 1px solid rgb(229, 201, 153);

        .box-content-1 {
            margin-bottom: 30px;
        }

        .box-content-2 {
            font-size: 25px;
            color: #654321;
            margin-bottom: 20px;
        }

        .box-content-3 {
            line-height: 22.4px;
            font-size: 16px;
        }
    }
}

.marquee {
    padding: 50px 20px 50px 20px;

    background-color: white;

    .heading {
        /* align-items: center; */
        text-align: center;
        font-size: 25px;
        color: rgb(138, 79, 79);
    }

    marquee {
        padding: 20px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
        scroll-behavior: smooth;
    }

    img {
        width: 250px;
        margin: 0px 50px 0px 50px;
    }
}

footer {
    background-color: rgb(33, 28, 117);
    color: white;
    padding: 0px 0px 20px 0px;
    line-height: 22.4px;
    border-radius: 0px 0px 90px 90px;
    margin-bottom: 50px;


    .content {
        margin: 0px 126px 0px 70px;
        padding-top: 60px;
        display: flex;
        text-align: left;
        gap: 20px;
    }

    .copyright {
        text-align: center;
    }

    .box2_content,
    .box3_content,
    .box4_content {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .box1 {
        padding: 0px 0px 20px 20px;
        width: 488px;
        text-align: left;

        img {
            height: 150px;
        }

        .box1_content {
            width: 320px;
            margin: 20px 0px 16px 0px;
        }
    }

    .box2,
    .box3,
    .box4 {
        padding: 0px 0px 20px 0px;

        .box2_content,
        .box3_content,
        .box4_content {
            margin-bottom: 12px;

            color: rgb(76, 70, 197);

            p {
                text-decoration: 2px wavy underline;
                font-size: 20px;
            }

            a {
                text-decoration: none;
                color: white;
            }
        }
    }

    .box2 {
        width: 232px;
    }

    .box3 {
        width: 232px;
    }

    .box4 {
        width: 232px;
    }
}