* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Dm Sans', sans-serif;

}

body {
    background-color: rgb(252, 245, 235);
}


@keyframes mymove {
    0% {
        top: 0px;
        transform: rotateX(0deg);
    }

    50% {
        top: 0px;
        transform: rotateX(90deg);
    }

    100% {
        top: 0px;
        transform: rotateX(0deg);
    }
}

.navbar {
    position: sticky;
    top: 0px;
    z-index: 1;
    overflow: hidden;
    /* background-attachment: fixed; */
    /* border-bottom: #2c20d1 1px solid; */

    header {
        background-color: rgb(252, 245, 235);
    }


    .nav-links {
        list-style-type: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        /* font-weight: 550; */
    }

    .left-links #logo {
        width: 35px;
    }

    .center-links {
        list-style-type: none;
        display: flex;
        align-items: center;
        gap: 80px;
        font-size: 20px;

        a {
            text-decoration: none;
            color: black;
            padding: 10px;
            border-radius: 10px;
        }
    }

    .right-links {
        background-color: white;
        border: 1px solid black;
        padding: 14px 24px 14px 24px;
        border-radius: 9999px;
        text-decoration: none;
        color: black;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        /* transition: all 0.5s ease-in-out; */
        font-size: 20px;
        transition: all 0.5s ease-in-out;

        img {
            width: 25px;
        }
    }

    .active:hover {
        color: rgb(53, 2, 156);
        background-color: rgba(128, 128, 128, 0.100);
        transition: all 0.2s ease-out;

    }

    .right-links:hover {
        background-color: rgb(87, 196, 87);
        color: white;
        transform: scale(1.1);
    }
}

.consent_preference {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px;
    z-index: 9999;

    img {
        width: 40px;
        background-color: rgb(0, 86, 167);
        border-radius: 50%;
        padding: 5px;
    }
}

.consent_preference:hover {
    cursor: pointer;
}

.page1 {

    .content {
        margin: 10px 30px 10px 30px;
        padding-left: 30px;

        background-image: url(../assets/Gemini_Generated_Image_cd73vncd73vncd73.png);
        background-size: cover;
        background-position: center;
        height: 779px;
        border-radius: 24px;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
    }

    .home-content {
        position: absolute;
        top: 30%;
    }

    .home-content1 {
        margin-bottom: 50px;

        #span1 {
            font-size: 70px;
        }

        #span2 {
            font-size: 70px;
            font-weight: 550;
            border-bottom: 5px solid #fff27f;
            border-radius: 5px;
        }
    }

    .home-content2 {
        font-size: 30px;
        
        font-weight: lighter;

        .div_animation {
            animation: mymove 3s infinite;
        }

        .div_animation .animation {
            line-height: 2.8;
            padding: 10px;
            background-color: #fcf5eb;
            color: black;
        }
    }

    .home-content3 {
        display: flex;
        flex-direction: row;
        gap: 25px;
        margin: 10px 0px 2px 0px;

        a {
            text-decoration: none;
            color: black;
        }

        #whatsapp {
            border: none;
            display: flex;
            align-items: center;
            gap: 10px;
            border: 1px solid white;
            padding: 10px 15px 10px 15px;
            border-radius: 9999px;
            background-color: white;
            font-size: 20px;
            transition: all 0.5s ease-in-out;

            a {
                text-align: center;
                text-decoration: none;
                color: black;
            }

        }

        #email {
            border: none;
            display: flex;
            align-items: center;
            gap: 10px;
            border: 1px solid white;
            padding: 10px 15px 10px 15px;
            border-radius: 9999px;
            background-color: white;
            font-size: 20px;
            transition: all 0.5s ease-in-out;

            a {

                text-decoration: none;
                color: black;
            }
        }

        img {
            width: 25px;
        }

        #whatsapp:hover {
            border: none;
            background-color: rgb(87, 196, 87);
            color: black;
            transform: scale(1.1);
        }

        #email:hover {
            border: none;
            background-color: rgb(87, 196, 87);
            color: black;
            transform: scale(1.1);
        }
    }
}

.page2 {
    margin: 0px 126px 0px 70px;
    padding: 100px 20px 100px 20px;
    padding-left: x;

    .heading {
        padding: 10px 20px 10px 20px;
        border: 1px solid rgb(22, 22, 120);
        width: max-content;
        border-radius: 9999px;
        background-color: rgb(228, 222, 250);
        color: #2c20d1;
        font-size: 20px;
    }

    .content_box {
        display: flex;
        flex-direction: row;
        gap: 20px;
        margin-top: 50px;
        align-items: center;

        .left_box {
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            color: #5e5e63;

            .left_box_content1 {
                font-size: 40px;
                line-height: 56px;

                b {
                    font-weight: 550;
                    color: black;
                }
            }

            .left_box_content2 {
                font-weight: 300;
                margin: 70px 0px 0px 0px;
                font-size: 25px;
                color: rgb(94, 94, 99);
            }
        }

        .right_box {
            width: 50%;
            max-width: 422px;
            border-radius: 20px;
            width: 422px;
            height: 700px;

            img {
                height: 700px;
                max-width: 422px;
                object-fit: cover;
                border-radius: 20px;
            }
        }
    }

    .box_container {
        display: flex;
        flex-direction: row;
        margin-top: 50px;
        align-items: center;
        margin-top: 100px;
        gap: 30px;

        .box {

            width: 286px;
            height: 251px;
            border-radius: 10px;
            border: 1px solid black;
            background-color: rgb(252, 245, 235);
            box-shadow: 5px 20px 75px 0px rgba(237, 228, 214);
            padding: 40px;
            color: rgb(67, 67, 67);
            line-height: 28px;

            .box_content {
                margin-top: 20px;
                font-size: 40px;
                color: black;
            }

            .box_content2 {
                font-size: 20px;
                margin-top: 20px;
            }

        }
    }
}

.marquee1 {
    width: 100%;
    background-color: white;

    .marquee_box {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.page3 {
    margin: 0px 126px 0px 70px;
    padding: 100px 20px 100px 20px;
    padding-left: x;

    .heading {
        padding: 10px 20px 10px 20px;
        border: 1px solid rgb(22, 22, 120);
        width: max-content;
        border-radius: 9999px;
        background-color: rgb(228, 222, 250);
        color: #2c20d1;
        font-size: 20px;
    }

    .content_box {
        display: flex;
        flex-direction: row;
        gap: 20px;
        margin-top: 50px;
        align-items: center;

        .left_box {

            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            color: #5e5e63;

            .left_box_content1 {
                font-size: 40px;
                line-height: 56px;

                b {
                    font-weight: 550;
                    color: black;
                }
            }

            .left_box_content2 {
                font-weight: 300;
                margin: 70px 0px 0px 0px;
                font-size: 25px;
                color: rgb(94, 94, 99);
            }
        }

        .right_box {
            width: 50%;
            max-width: 422px;
            border-radius: 20px;
            width: 603px;
            height: 403px;

            img {
                height: 403px;
                max-width: 603px;
                object-fit: cover;
                border-radius: 20px;
            }
        }
    }

}

.marquee2 {
    height: 250px;
    background-color: rgb(211, 243, 251);
}

.page4 {
    margin: 0px 126px 0px 70px;
    padding: 100px 20px 100px 20px;
    padding-left: x;

    .heading {
        padding: 10px 20px 10px 20px;
        border: 1px solid rgb(22, 22, 120);
        width: max-content;
        border-radius: 9999px;
        background-color: rgb(228, 222, 250);
        color: #2c20d1;
        font-size: 20px;
    }

    .content_box {
        display: flex;
        flex-direction: row;
        gap: 20px;
        margin-top: 50px;
        /* align-items: center; */

        .right_box {

            width: 50%;
            /* display: flex;
            flex-direction: column;
            justify-content: center; */
            color: #5e5e63;

            .right_box_content1 {
                font-size: 25px;
                line-height: 1.5;
                text-align: left;

                b {
                    font-weight: 550;
                    color: black;
                }
            }
        }

        .left_box {
            width: 50%;
            max-width: 603px;
            border-radius: 20px;
            width: 603px;
            height: 403px;
            align-items: start;

            img {
                max-width: 400px;
                object-fit: contain;
                border-radius: 20px;
            }
        }
    }

}

.page5 {
    margin: 0px 126px 0px 70px;
    padding: 0px 20px 0px 20px;
    /* padding-left: x; */


    .content_box {
        display: flex;
        flex-direction: row;
        gap: 20px;
        margin-top: 50px;
        /* align-items: center; */

        .right_box {

            width: 50%;
            /* display: flex;
            flex-direction: column;
            justify-content: center; */
            color: #5e5e63;

            .right_box_content1 {
                img {
                    height: 113px;
                    max-width: 285px;
                    object-fit: contain;
                    border-radius: 20px;
                }
            }

            .right_box_content2 {
                color: rgb(90, 66, 138);
                font-size: 40px;
                margin-top: 29px;
            }

            .right_box_content3 {
                font-size: 25px;
                margin-top: 30px;
            }

            .right_box_content4 {
                font-size: 25px;
                margin-top: 30px;

                ul {
                    list-style-type: none;

                    li {
                        line-height: 50px;
                        /* row-gap: 16px; */
                        display: flex;
                        align-items: center;
                        gap: 12px;

                        svg {
                            background-color: yellowgreen;
                            border-radius: 50%;
                            padding: 5px;
                        }
                    }
                }
            }
        }

        .left_box {
            width: 50%;
            max-width: 603px;
            border-radius: 20px;
            width: 603px;
            height: 403px;
            align-items: start;

            img {
                max-width: 400px;
                object-fit: contain;
                border-radius: 20px;
            }
        }
    }
}

.page6 {
    margin: 200px 126px 0px 126px;
    padding: 0px 20px 0px 20px;
    /* padding-left: x; */


    .content_box {
        display: flex;
        flex-direction: row;
        gap: 20px;
        margin-top: 50px;
        /* align-items: center; */

        .left_box {

            width: 50%;
            padding: 0px 30px 0px 0px;
            /* display: flex;
            flex-direction: column;
            justify-content: center; */
            color: #5e5e63;

            .left_box_content2 {
                color: #106634;
                font-size: 40px;
                margin-top: 29px;
            }

            .left_box_content3 {
                font-size: 25px;
                margin-top: 30px;
                color: #4a4a4f;
            }

        }

        .right_box {
            width: 50%;
            max-width: 618px;
            width: 618px;
            /* height: 403px; */
            display: flex;
            justify-content: center;
            align-items: center;
            align-content: center;
            padding: 20px 0px 20px 0px;
            border: 1px solid #e6ffda;

            img {
                max-width: 324px;
                object-fit: contain;
                border-radius: 20px;
                box-shadow: rgba(0, 0, 0, 0.145) 5px 20px 75px 0px;
            }
        }
    }
}

.page7 {
    margin: 0px 126px 0px 70px;
    padding: 100px 20px 100px 20px;

    .heading {
        padding: 10px 20px 10px 20px;
        border: 1px solid rgb(22, 22, 120);
        width: max-content;
        border-radius: 9999px;
        background-color: rgb(228, 222, 250);
        color: #2c20d1;
        font-size: 20px;
    }

    .image_box {
        margin-top: 75px;

        img {
            width: 1240px;
            object-fit: contain;
            border-radius: 20px;
        }
    }

    .content {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-top: 20px;
        line-height: 23px;

        .content-1 {
            font-size: 49px;
        }

        .content-2 {
            color: rgb(112, 111, 108);
            margin-top: 10px;
            font-size: 16px;
        }

        .content-3 {
            font-size: 18px;
        }
    }
}

.page8 {
    margin: 0px 126px 0px 70px;
    padding: 0px 20px 100px 20px;

    .box-container {
        display: flex;
        gap: 35px;
        width: 100px;

        .image_box {
            img {
                width: 604px;
                border-radius: 20px;
            }
        }

        .content {
            display: flex;
            flex-direction: column;
            gap: 10px;
            margin-top: 20px;
            line-height: 23px;

            .content-1 {
                font-size: 49px;
            }

            .content-2 {
                color: rgb(112, 111, 108);
                margin-top: 10px;
                font-size: 16px;
            }

            .content-3 {
                font-size: 18px;
            }
        }
    }

    .view-all {
        justify-content: center;
        align-items: center;
        text-align: center;

    }

}

.page9 {
    background-color: white;
    align-content: center;

    .main-box {
        align-content: center;
        padding: 100px 20px 100px 20px;


        .center-box {
            background-color: rgb(90, 66, 138);

            background-image: url(https://breakdancelibrary.com/samba/wp-content/uploads/sites/2/2023/04/dots.svg);
            background-repeat: no-repeat;
            background-size: 240px;
            background-position-x: -4%;
            margin: 0px 126px 0px 70px;
            padding: 100px 20px 100px 20px;
            color: white;
            text-align: center;
            align-content: center;
            border-radius: 20px;
            display: flex;

            flex-direction: column;

            span {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 20px;
            }

            .content-1 {
                font-size: 29px;
                margin-bottom: 24px;
            }

            a {
                text-align: center;
                text-decoration: none;
                color: black;
            }

            #whatsapp {

                display: flex;
                align-items: center;
                border: none;
                border: 1px solid white;
                padding: 10px 15px 10px 15px;
                border-radius: 9999px;
                background-color: white;
                font-size: 20px;
                transition: all 0.5s ease-in-out;
                text-align: center;

            }

            #email {
                display: flex;
                align-items: center;
                border: none;
                border: 1px solid white;
                padding: 10px 15px 10px 15px;
                border-radius: 9999px;
                background-color: white;
                font-size: 20px;
                transition: all 0.5s ease-in-out;

                a {

                    text-decoration: none;
                    color: black;
                }
            }

            img {
                width: 25px;
            }

            #whatsapp:hover {
                border: none;
                background-color: rgb(87, 196, 87);
                color: black;
                transform: scale(1.1);
            }

            #email:hover {
                border: none;
                background-color: rgb(87, 196, 87);
                color: black;
                transform: scale(1.1);
            }
        }
    }
}


footer {
    background-color: rgb(33, 28, 117);
    color: white;
    padding: 0px 0px 20px 0px;
    line-height: 22.4px;
    border-radius: 0px 0px 90px 90px;
    margin-bottom: 50px;


    .content {
        margin: 0px 126px 0px 70px;
        padding-top: 60px;
        display: flex;
        text-align: left;
        gap: 20px;
    }

    .copyright {
        text-align: center;
    }

    .box2_content,
    .box3_content,
    .box4_content {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .box1 {
        padding: 0px 0px 20px 20px;
        width: 488px;
        text-align: left;

        img {
            height: 150px;
        }

        .box1_content {
            width: 320px;
            margin: 20px 0px 16px 0px;
        }
    }

    .box2,
    .box3,
    .box4 {
        padding: 0px 0px 20px 0px;

        .box2_content,
        .box3_content,
        .box4_content {
            margin-bottom: 12px;

            color: rgb(76, 70, 197);

            p {
                text-decoration: 2px wavy underline;
                font-size: 20px;
            }

            a {
                text-decoration: none;
                color: white;
            }
        }
    }

    .box2 {
        width: 232px;
    }

    .box3 {
        width: 232px;
    }

    .box4 {
        width: 232px;
    }
}